# Rename this file to .env

## Token (required). Get it from @BotFather
BOT__TOKEN=
## FSM Storage. Values allowed: memory, redis
BOT__USE_REDIS=false

## Redis connection string. Required if BOT_FSM_STORAGE=redis
REDIS_DSN=redis://localhost:6379/0
## PostgreSQL connection string. Always required
POSTGRES_DSN=postgresql+asyncpg://user:pass@localhost/test

## Domain part of your webhook.
WEB__ENABLE_WEBHOOK=false
WEB__DOMAIN=https://example.com:8443
WEB__PATH__BOT=/bot/webhook
## App host and port
WEB__HOST=localhost
WEB__PORT=8000
